.room {
  flex: 1 1 auto;
}

.contain {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 1 auto;
  display: flex;
}

@media (max-width: 725px) {
  .content {
    display: inherit;
  }
}
