.contain {
  flex: 1 1 auto;
}

.form,
.room-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  text-align: center;
  top: 30%;
  position: absolute;
}

.room-input {
  display: block;
  width: 95%;
  max-width: 350px;
  border-radius: 3px;
  border: solid 1px black;
  text-align: center;
  font-size: 22px;
  padding: 2px 0px;
}

.room-label {
  font-size: 24px;
  font-weight: bold;
}

.join-button {
  background-color: #3C79CD;
  color: white;
  text-decoration: none;
  margin-top: 5px;
  border-radius: 3px;
  padding: 10px 0px;
  width: 95%;
  max-width: 350px;
}

.join-button:active, .join-button:focus {
  background-color: #2A5CA2;
  outline: 2px solid #3C79CD;
}