.chat {
  width: 100%;
  border: solid 1px black;
  overflow-y: auto;
  flex: 1 1px;
  display: flex;
  flex-direction: column-reverse;
}

.messages {
  width: 100%;
}

.message {
  border-bottom: solid 1px rgb(78, 78, 78);
  padding-bottom: 10px;
  line-height: 20px;
}

.other-message {
  color: blue;
}

.my-message {
  color: red;
}

@media (max-width: 725px) {
  .chat {
    width: 96%;
  }
}