.info {
  text-align: center;
  flex: 0 1 auto;
}

.info > h2 {
  margin: 5px 0px;
  font-size: 18px;
}

.leave {
  margin-bottom: 10px;
}

.btn {
  color: white;
  background-color: #aa5252;
  text-decoration: none;
  margin-top: 5px;
  border-radius: 3px;
  padding: 3px 10px;
  height: 15px;
}